@font-face {
  font-family: D2;
  src: url('../assets//font//tte.ttf');
}

.t {
   -ms-overflow-style: none;
   font-family: D2;

 }

 ::-webkit-scrollbar {
   display: none;
 }
 
.card-size {
   height: 39.2vh;
   overflow: scroll;
}

.f-card-size {
  height: 29vh;
}

.t-card-size {
  height: 84vh;
  overflow: scroll;
}

.memu-size {
  font-size: 20px;
  font-weight: bold;
}
.d-memu-size {
  font-size: 19px;
  font-weight: bold;
}

.list_card_top {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

.s_card {
  border-radius: 10px;
}

.h_card {
  border-radius: 5px;
}