body {
   -ms-overflow-style: none;
 }
 ::-webkit-scrollbar {
   display: none;
 }
 
.card-size {
   height: 38vh;
   overflow: scroll;
}



.memu-size {
  font-size: 14px;
  font-weight: bold;
}

.d-memu-size {
  font-size: 19px;
  font-weight: bold;
}